$color-map-v01: (
  'primary-50':  #EFF6FF, // RGB(239, 246, 255) | HSL: 214, 100%, 97%
  'primary-100': #DBEAFE, // RGB(219, 234, 254) | HSL: 214, 95%, 93%
  'primary-150': #BFDBFE, // RGB(191, 219, 254) | HSL: 213, 97%, 87%
  'primary-200': #93C5FD, // RGB(147, 197, 253) | HSL: 212, 96%, 78%
  'primary-250': #60A5FA, // RGB(96, 165, 250)  | HSL: 213, 94%, 68%
  'primary-300': #3B82F6, // RGB(59, 130, 246)  | HSL: 217, 91%, 60%
  'primary-350': #2563EB, // RGB(37, 99, 235)   | HSL: 221, 83%, 53%
  'primary-400': #1D4ED8, // RGB(29, 78, 216)   | HSL: 224, 76%, 48%
  'primary-450': #1E40AF, // RGB(30, 64, 175)   | HSL: 226, 71%, 40%
);
$color-map-v02: (
  'primary-50':  #FFFBEB, // RGB(255, 251, 235) | HSL: 48, 100%, 96%
  'primary-100': #FEF3C7, // RGB(254, 243, 199) | HSL: 48, 96%, 89%
  'primary-150': #FDE68A, // RGB(253, 230, 138) | HSL: 47, 96%, 77%
  'primary-200': #FCD34D, // RGB(252, 211, 77)  | HSL: 45, 95%, 65%
  'primary-250': #FBBF24, // RGB(251, 191, 36)  | HSL: 43, 96%, 56%
  'primary-300': #F59E0B, // RGB(245, 158, 11)  | HSL: 38, 92%, 50%
  'primary-350': #D97706, // RGB(217, 119, 6)   | HSL: 32, 94%, 44%
  'primary-400': #B45309, // RGB(180, 83, 9)    | HSL: 28, 90%, 37%
  'primary-450': #92400E, // RGB(146, 64, 14)   | HSL: 25, 82%, 31%
);
